<template>
    <div>
        <input v-model="membre_id" hidden>

        <input class="form-control" type="text" v-model="title" placeholder="titre du fichier">
        <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" v-on:vdropzone-sending="sendingEvent"></vue-dropzone>
        <button @click="processQueue">Valider</button>
    </div>
</template>
<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
    // name: 'UploadFile',
    data () {
    return {
      dropzoneOptions: {
        autoProcessQueue:false,
        url: 'api/fichiers',
        thumbnailWidth: 200,
        addRemoveLinks: true,
        dictDefaultMessage: "<i class='fa fa-cloud-upload'></i>Téléverser des fichiers",
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        }
      },
    }
  },

  components: {
    vueDropzone: vue2Dropzone
  },
  methods:{
      processQueue(){
        this.$refs.myVueDropzone.processQueue()
      },
      sendingEvent (file, xhr, formData) {
        formData.append('title', this.title);
        formData.append('membre_id', this.membre_id);
        formData.append('projet_id', this.projet_id);
        formData.append('entreprise_id', this.entreprise_id);
        formData.append('test', this.test);
      },
}
</script>
<style scoped>
.vue-dropzone {
    min-height: 50px !important
}

</style>