<template>
<div class="col-md-3 col-sm-6 col-xs-12" v-show="true">

    <article :id="'material-card-'+$vnode.key" class="material-card Yellow">
        <h2>
          <span class="truncate"> <em>{{ entity.civilite | ucFirst}}</em> {{ entity.prenom | ucFirst}} {{ entity.nom | ucFirst}}</span>
            <strong class="truncate">
             <i class="las la-industry"></i>
                        {{ entity ? (entity.secteur ?  entity.secteur.libelle : 'Non précisé' ) : 'Non précisé' | ucFirst }}
           </strong>
           <strong class="truncate">
             <i class="fas fa-fw fa-award"></i>
                        Promotion : {{ entity.promotion | ucFirst}}
           </strong>
        </h2>
        <div class="mc-content">

            <div class="img-container">
                <a href="javascript:void(0)" @click.prevent="seeMember" style="width:inherit">
                     <img :src=" !entity.hasPhoto ? '/img/default_member.png' : '/storage/featured/'+entity.avatar" class="img-responsive">
                </a>

               <img :src=" nationalite ? '/storage/flags/'+nationalite.flagPath : '/storage/flags/unknown.png'" alt="" class="src nationalite-flag">
            </div>

            <div class="mc-description ml-5">
               <!-- {{ entity.description | ucFirst}} -->
                <!-- <a href="#" class="text-center">Projet sur la Cour_Royale</a> -->
                <h4>
                    Projet et Entreprise
                </h4>
                <li v-for="projet in entity.projets" :key="projet.id">
                    <router-link :to="'/projets/'+projet.id">Projet : {{projet.titre}}</router-link>
                </li>
                <li v-for="entreprise in entity.entreprises" :key="entreprise.id">
                    <router-link :to="'/entreprises'">Entreprise : {{entreprise.nom_commercial}}</router-link>
                </li>
            </div>
            <div class="mc-ud">
                <button v-if="false" type="button" title="Voir le membre" class="btn" @click="seeMember">
                        <i class="fas  fa-eye"></i>
                </button>

                <button type="button" title="Voir l'entreprise'" class="btn" @click="seeMember">
                        <i class="fas  fa-eye"></i>
                </button>
                <button v-if="user.id === entity.id ||  user.type==='admin'" type="button" title="Modifier le membre" class="btn" @click="updateMember">
                        <i class="fas  fa-edit"></i>
                </button>
                <button :user="user.id" v-if="user.id === entity.id ||  user.type==='admin'" type="button" title="Supprimer le membre" class="btn" @click="deleteMember">
                        <i class="fas  fa-trash"></i>
                </button>
                <button v-if="user.id === entity.id ||  user.type==='admin'" type="button" title="Pieces jointe" class="btn" @click="piecejoint">
                        <i class="fas  fa-file"></i>
                </button>
            </div>

        </div>
        <a class="mc-btn-action"><i class="fa fa-bars"></i></a>
        <div class="mc-footer">
            <h4>
                Résaux sociaux
            </h4>
            <a :href=" entity.facebook ? entity.facebook : 'https://www.facebook.com/' "  target="_blank" class="text-center"><i class="fab fa-facebook"></i></a>
            <a  :href=" entity.twitter ? entity.twitter : 'https://www.twitter.com/' "  target="_blank"  class=""><i class="fab  fa-twitter"></i></a>
            <a :href=" entity.linkedin ? entity.linkedin : 'https://www.linkedin.com/' "  target="_blank"  class=""><i class="fab fa-linkedin-in"></i></a>
        </div>
    </article>
    <b-modal @hidden="reset"  ref="inputModal" id="my-modal" size="lg" title="Téléverser des documents"  :hide-footer="true">
        <!-- <upload-file></upload-file> -->
         <template>
            <div>
                <input class="form-control" type="text" v-model="title" placeholder="titre du fichier">
                <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" v-on:vdropzone-sending="sendingEvent"></vue-dropzone><hr/>
                <button @click="processQueue" class="form-control btn btn-info">Enregistrer</button>
            </div>
        </template>

        <table class="table table-hover">
            <thead class="">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">telecharger </th>
                <th scope="col">Supprimer </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="fichier in entity.fichiers" :key="fichier.id">
                    <th scope="row">{{ fichier.id }}</th>
                    <td>{{ fichier.title }}</td>
                    <td><a :href="fichier.link" target="_bank"><i class="fa fa-download"></i></a></td>
                    <td><a @click="deleteFile(fichier.id)" style="color:red" target="_bank"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
        <!-- <div class="row">
            <div class="col-sm-6">
                <button @click="closeModalFile" class="form-control btn btn-warning">Quitter</button>
            </div>
        </div><br/> -->
    </b-modal>

</div>
</template>
<script>
    // import UploadFile from './../UploadFile.vue';
    import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

    export default {
        // props: ['entity','isSet','title:"bonjour"'],
        props: {
            entity:Object,
            isSet:Boolean,
        },
         data() {
            return{
                //Donnée relative au fichier

                type:'membre',
                membre_id: '',
                title:"",
                 dropzoneOptions: {
                        autoProcessQueue:false,
                        url: 'api/fichiers',
                        thumbnailWidth: 200,
                        addRemoveLinks: true,
                        dictDefaultMessage: "<i class='fa fa-cloud-upload'></i>Téléverser des fichiers",
                        headers: {
                            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                        },
                        uploadMultiple: true,
                        maxFiles: 5,
                    },

                //fin

                user:window.App.user,
                vehicule_est_connu:false,
                visible:false,

                vehicule:{
                    libelle: "Wills",
                    marque_id: 5,
                    modele_id: 51,
                    type_vehicule_id: 1,
                    type_permis_id: null,
                    nbr_place: 5,
                    nbr_porte: 5,
                    couleur: "Rouge",
                    image_mise_en_avant: "22-5e6296894e7be.jpeg",
                    tarif: 50000,
                    kilometrage: 23554,
                    plaque_immatriculation: "AZSE-RTDFD-ddd",
                    nr_chassis: "ERDF-ERFFF-FR",
                    date_mise_en_circulation: "2016-02-05",
                    annee_mise_en_circulation: "0000-02-05 00:00:00",
                    consommation_au_100_km: 5.5,
                    type_motorisation_id: 13,
                    boite_vitesse: "automatique",
                    volume_coffre: 100,
                    volume_reservoir: 60,
                    largeur: 2.4,
                    longueur: null,
                    poids: 1290,
                    hauteur: null,
                    created_at: "2020-03-06 18:29:29",
                    updated_at: "2020-03-06 18:29:29",
                    path: "/storage/images/",
                    marque : {},
                    modele : {},
                    marque: {},
                    title: "",
                    modele: {},
                    type_motorisation: {},
                    type_vehicule: {}
                }
            }

        },
        mounted() {
          var vm = this
           $('#material-card-'+this.$vnode.key+' .img-responsive').on('load', function () {

                vm.visible = true

            });
   $('#material-card-'+this.$vnode.key+' > .mc-btn-action').click(function ()
    {
            var card = $(this).parent('.material-card');
            var icon = $(this).children('i');
            var flag = $('#material-card-'+vm.$vnode.key).find('.nationalite-flag');
            icon.addClass('fa-spin-fast');

            if (card.hasClass('mc-active')) {
                card.removeClass('mc-active');
                        flag.removeClass('z-index--1')

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-arrow-left')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-bars');

                }, 800);
            } else {
                card.addClass('mc-active');
                flag.addClass('z-index--1')
                window.setTimeout(function() {
                    icon
                        .removeClass('fa-bars')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-arrow-left');


                }, 800);
            }
        });
        },
        computed:
        {
            nationalite()
            {
                if(isDefined(this.entity))
                {
                    if(this.entity.nationalites.length> 0)
                      return this.entity.nationalites[0]
                    else
                      return null
                }
                return null
            }
        },
        methods:
        {
            // Envoi du fichier
           piecejoint()
             {
                this.modeEdit = false
                this.reset()
                this.$refs['inputModal'].show()
             },
              reset()
             {
                  this.modeEdit = false
                  this.isLoading = false
                  this.$refs['inputModal'].hide()
             },
            // Envoi du fichier
            processQueue(){
                this.$refs.myVueDropzone.processQueue()
            },
            sendingEvent (file, xhr, formData) {
                formData.append('title', this.title);
                formData.append('membre_id', this.entity.id);
                formData.append('type', this.type);
            },
            // Fin envoi du fichier

            seeEnterprise()
            {
                window.event.$emit('see-enterprise-event',this.entity)

            },


             deleteMember()
             {
                  //On demande la confirmation de la suppression
                    alertConfirm("Voulez-vous supprimer ce membre ?","Suppréssion d'un membre")
                    .then(result => {
                        //On réinitialise le chargement
                        this.isLoading = true
                        if(result)
                        {
                               this.$store.dispatch('members/removeMember',this.entity).then((response) =>
                                {
                                        this.isLoading = false
                                        flash("<span>Supprimé <strong>avec succès</strong></span>",'success')
                                        this.initForm()
                                },
                                (error) =>
                                {
                                    this.isLoading = false
                                    flash("<span>Vous n'etes pas autorisé à effectuer cette action</strong></span>",'error')

                                })
                        }
                    })
                    .catch(error => {
                        reject(error);
                    });
             },
             deleteFile(fichier_id)
             {     //On demande la confirmation de la suppression
                    alertConfirm("Voulez-vous supprimer ce fichier ?","Suppréssion d'un fichier")
                    .then(result => {
                        //On réinitialise le chargement
                        // this.isLoading = true
                        if(result)
                        {

                                this.$store.dispatch('members/removeFile',fichier_id).then((response) =>
                                {
                                    this.isLoading = false
                                    flash("<span>Supprimé <strong>avec succès</strong></span>",'success')
                                },
                                (error) =>
                                {
                                    this.isLoading = false
                                    flash("<span>Suppression non effectuée</strong></span>",'error')
                                })
                        }
                    })
                    .catch(error => {
                        reject(error);
                    });
             },
             updateMember()
             {
                 window.event.$emit('update-member-event',{entity:this.entity,key:this.$vnode.key})
             },
             seeMember()
             {
                 window.event.$emit('see-member-event',{entity:this.entity,key:this.$vnode.key})
             },
            //  reset()
            //  {
            //       this.modeEdit = false
            //       this.isLoading = false
            //       this.$refs['inputModal'].hide()
            //  },
        },
        components: {
            vueDropzone: vue2Dropzone
        }
    }
</script>
<style lang="scss" scoped>

.nationalite-flag
{
position: absolute;
    width: 29px !important;
    height: 20px;
    border-radius: 3px !important;
    left: 10px;
    top: 21px;
}
.z-index--1
{
  opacity:0;
    -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.vue-dropzone {
    min-height: 50px !important
}

table {
  border-collapse: collapse;
  overflow-x: scroll;
  display: block;
}

thead {
  background-color: #EFEFEF;
}

thead,
tbody {
  display: block;
}

tbody {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 140px;
}

td,
th {
  min-width: 100px;
  height: 25px;
  border: dashed 1px lightblue;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
</style>
