<template>
    <div v-cloak>
    <!-- Content Header (Page header) -->
        <div class="content-header pt-4">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Developper
                       
                    </h1>
                </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
        <div class="container-fluid">
            <passport-clients></passport-clients>
            <passport-authorized-clients></passport-authorized-clients>
            <passport-personal-access-tokens></passport-personal-access-tokens>
        </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</template>

<script>

   import Master from "./../Master.vue";

    export default {
            components: {
      
    },
        mixins: [Master],

        data()
          {
            return{ 
                }
         
        },
        computed:
        {
          
        },
        created()
         {
           
        },
        mounted()
        {
       
           this.pageInit = true
        },
        methods:
        {

            
        },
           
    }
</script>
<style scoped>
   .small-box{
       min-height: 111px;
   }
     .small {
    max-width: 100%;
  }
  .widget-user-header
  {
      color:black;
  }
  .widget-user-image .icon
  {
    float: left;
    height: auto;
    font-size: 80px;
  }
    .widget-user-2 .widget-user-header
  {
     color :black !important;
  }
    .widget-user-2 li.nav-item  a
  {
     cursor:default !important;
     color :black;
  }
      .widget-user-2 li.nav-item:last-child  a
  {
     cursor: pointer !important;
  }
  .widget-user-2 li.nav-item  span.float-right
  {
      color :black;
  }

  .bloc-recent-history-date-text
  {
    color: #6c757d;
    font-size: 0.8rem;
  }
</style>